
.center-box{
    max-width: 1160px;
    max-height: 703px;
}
.center-pic{
    min-height: 648px;
    max-width: 576px;
}
.center-nav{
    min-height: 36px;
    min-width: 472px;
}
.center-bread{
    min-height: 246px;
    max-width: 416px;
}
.center-arrow{
    min-height: 40px;
    max-width: 16px;
}
.center-title{
    min-height: 102px;
    max-width: 343px;
}
.center-text{
    min-height: 98px;
    max-width: 410px;
}