@import '_flex';
@import '_top';
@import '_center';
@import '_nav';
@import '_font';



body{
    max-width: 99vw;
    max-height: 98vh;
}
.MaxWH{
    width: 100%;
    height: 100%;
}
.marg{
    margin-top: 0px;
}

.hide{
    display: block;
}
.row{
    flex-direction: row;
}
.textbox{
    min-height: 648px;
    max-width: 576px;
}
.text{
    text-align: start;
}
.flex_Ori{
    align-content: flex-start;
}
.hideNav{
    display: flex;
}
.hideNav02{
    display: none;
}
.center-bread{
    min-height: 246px;
    max-width: 416px;
}
.center-text{
    max-height: 98px;
    max-width: 410px;
}
.title-fix{
    align-self: flex-start;
}
.image-01{
    display: block;
}
.image-02{
    display: none;
}
.image-03{
    display: none;
}
@media screen and (max-width: 1048px) and (min-width: 420px)
{
    .hide{
        display: none;
    }
    .row{
        flex-direction: column;
    }
    .textbox{
        min-height: 478px;
        max-width: 776px;
    }
    .center-bread{
        min-height: 246px;
        max-width: 556px;
    }
    .center-text{
        max-height: 98px;
        max-width: 550px;
    }
    .flex_Ori{
        align-content: center;
    }
    .text{
        text-align: center;
    }
    .title-fix{
        align-self: center;
    }
    .image-01{
        display: none;
    }
    .image-02{
        display: block;
    }
    .image-03{
        display: none;
    }
}
@media screen and (max-width: 420px)
{
    .hideNav{
        display: none;
    }
    .hideNav02{
        display: block;
    }
    .image-01{
        display: none;
    }
    .image-02{
        display: none;
    }
    .image-03{
        display: block;
    }
}


.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}
    